<!--These panels will be used to layer the seceionts of the first section of the body -->
<div class ="container">
            <div id = "panel"></div>
</div>
<div class ="container1">
    <div id ="panel">
        <h3>Lift Smarter</h3>
    </div>
    <div id = "lineSpace">|</div>
    <div id ="panel">
        <h3>Easy Tracking</h3>
    </div>
    <div id = "lineSpace">|</div>
    <div id ="panel">
        <h3>Efficient Gains</h3>
    </div>
</div>
<div class = "container2">
    <span><a href="#"></a></span>
</div>

