<!--These panels will be used to layer the seceionts of the first section of the body -->
<div class ="container">
            <div id = "panel"></div>
</div>
<div class ="container1">
    <div id ="panel">
        <h3 [ngStyle]="{'opacity': Card.SwitchOn === true ? '50%' : '100%'}">Lift Smarter</h3>
    </div>
    <div id = "lineSpace">|</div>
    <div id ="panel">
        <h3 [ngStyle]="{'opacity': Card.SwitchOn === true ? '50%' : '100%'}">Easy Tracking</h3>
    </div>
    <div id = "lineSpace">|</div>
    <div id ="panel">
        <h3 [ngStyle]="{'opacity': Card.SwitchOn === true ? '50%' : '100%'}">Efficient Gains</h3>
    </div>
</div>
<div class = "container2">
    <span id = "expand-Card"><a (click)='expandCard()'></a></span>
</div>

